---
const { itemNumber = '' } = Astro.props;
---

<div class="card">
    <div class="card-header fw-bold">
        物品 {itemNumber}
    </div>
    <div class="card-body">
        第 {itemNumber} 项正文。这是占位符文本。这是占位符文本。
    </div>
</div>