---
const { itemNumber = '' } = Astro.props;
---

<div class="card">
    <div class="card-header fw-bold">
        غرض {itemNumber}
    </div>
    <div class="card-body">
        غرض {itemNumber} نص الموضوع. هذا هو نص بديل. هذا هو نص بديل.
    </div>
</div>