---
const { itemNumber = '' } = Astro.props;
---

<div class="card">
    <div class="card-header fw-bold">
        Item {itemNumber}
    </div>
    <div class="card-body">
        Item {itemNumber} body text. This is placeholder text. This is placeholder text.
    </div>
</div>